nav.container-fluid {
    background: transparent;
    border-bottom: 1px solid #333;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li strong {
    color: #fff;
}

main.container {
    padding: 2rem 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 2rem;
}

.grid section {
    background: #333;
    padding: 1rem;
    border-radius: 0.3rem;
}

hgroup h2,
hgroup h3 {
    text-align: center;
}

.grid figure {
    margin: 1rem 0;
}

.grid figure img {
    max-width: 100%;
    height: auto;
    border-radius: 0.3rem;
}

figcaption {
    text-align: center;
}

.btnPricing {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    border: none;
    color: #fff;
    background-color: #e60023;
    border-radius: 0.3rem;
}

.btnPricing:hover {
    background-color: #ff1a35;
    cursor: pointer;
}